// ======================================
//  Variables
// ======================================

// Colors (5 colors)
$white: #fff;
$midgray: #777;
$aquablue: #58e1c1;
$lightblue: #51ddfc;
$lightblueviolet: #927bc1;

//Fonts
$font-stack-primary: 'Lato', sans-serif;

//Media Query Breakpoints
$breakpoints: (
    'breaker': 768px,
);